*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MedievalSharp', cursive;
}

body{

background-image: url(img/bg2.jpg);
}

::-webkit-scrollbar-track {
    background-color: rgb(180, 130, 65);
}
::-webkit-scrollbar {
    width: 10px;
    background: #991717;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(100, 64, 17);
}

.nav-item:hover {
background-color: rgb(100, 64, 17);
}

.mapa-titulo{
    color: rgb(22, 13, 0);
    text-shadow: 0px 0px 06px black;
}

.mapa-banner{
    margin-top: 15px;
    height: 500px;
    width: 1300px;
   margin-left: 5px;
  

}

.mapa-banner img{
    width: 100%;
    border:8px solid rgba(54, 31, 0, 0.192);
}

.container{
    border: 5px solid rgb(32, 26, 7);
    padding-top: 30px;
    display: flex;
    background-image: url(img/bg.jpg);
    width: 100%;
    margin-top: 20px;
}

.img-pp{
    text-align: center;
    
    height: 566px;
    width: 350px;
    border-radius: 5%;
    cursor: pointer;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.5s;
}

.img-pp img{
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.img-pp:hover{
    border-radius: 18px;
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.dados{
padding-bottom: 50px;
}
H1{
    color: white;
    font-style: italic;
    margin-left: 45px;
}
H2{
    color: rgb(172, 171, 171);
    font-style: italic;
    margin-left: 45px;
}
H4{
    font-size: 17pt;
    margin-right: 8px;
}



.nivel-exp{
    width: 700px;
    margin-left: 45px;
    margin-top: 20px;
    background-color: rgb(117, 83, 37);
    display: flex;
    color: beige;
    padding: 10px;
    align-items: center;
}
.exp-bar{

    border-radius: 50px;
    background-color: blanchedalmond;
    width: 450px;
    margin-right: 7px;
    

}
.exp-points-liante{
    border-top-left-radius:50px ;
    border-bottom-left-radius:50px ;
    height: 23px;
    width: 20%;  /*ajustar-nivel*/
    background-color: aqua;
}

.exp-points-malfias{
    border-top-left-radius:50px ;
    border-bottom-left-radius:50px ;
    height: 23px;
    width: 20%;  /*ajustar-nivel*/
    background-color: aqua;
}
.exp-points-mitriel{
    border-top-left-radius:50px ;
    border-bottom-left-radius:50px ;
    height: 23px;
    width: 90%;  /*ajustar-nivel*/
    background-color: aqua;
}

.exp-points-choppum{
    border-top-left-radius:50px ;
    border-bottom-left-radius:50px ;
    height: 23px;
    width: 30%;  /*ajustar-nivel*/
    background-color: aqua;
}

#exp-atual{
    color: rgb(26, 86, 141);
    text-align: center;
    font-size: 14pt;
}

/*VIDA*/

.qtd-vida{
    width: 700px;
    margin-left: 45px;
    margin-top: 20px;
    background-color: rgb(117, 83, 37);
    display: flex;
    color: beige;
    padding: 10px;
    align-items: center;
}
.vida-bar{

    border-radius: 50px;
    background-color: blanchedalmond;
    width: 450px;
    margin-right: 7px;
    

}
.vida-points-liante{
    border-top-left-radius:50px ;
    border-bottom-left-radius:50px ;
    height: 23px;
    width: 70%;  /*ajustar-nivel*/
    background-color: rgb(250, 34, 18);
}

.vida-points-malfias{
    border-top-left-radius:50px ;
    border-bottom-left-radius:50px ;
    height: 23px;
    width: 70%;  /*ajustar-nivel*/
    background-color: rgb(250, 34, 18);
}
.vida-points-mitriel{
    border-top-left-radius:50px ;
    border-bottom-left-radius:50px ;
    height: 23px;
    width: 70%;  /*ajustar-nivel*/
    background-color: rgb(250, 34, 18);
}

.vida-points-melinda{
    border-top-left-radius:50px ;
    border-bottom-left-radius:50px ;
    height: 23px;
    width: 100%;  /*ajustar-nivel*/
    background-color: rgb(250, 34, 18);
}


.vida-points-alucard{
    border-top-left-radius:50px ;
    border-bottom-left-radius:50px ;
    height: 23px;
    width: 100%;  /*ajustar-nivel*/
    background-color: rgb(250, 34, 18);
}

.vida-points-choppum{
    border-top-left-radius:50px ;
    border-bottom-left-radius:50px ;
    height: 23px;
    width: 70%;  /*ajustar-nivel*/
    background-color: rgb(250, 34, 18);
}

#nivel-atual{
    background-color: blanchedalmond;
    color: rgb(51, 35, 6);
    padding: 3px;
}
#vida-atual{
    color: rgb(70, 2, 2);
    text-align: center;
    font-size: 14pt;
}

.alinhamentos{
    width: 700px;
    margin-left: 45px;
    margin-top: 20px;
    background-color: rgb(117, 83, 37);
    display: flex;
    color: beige;
    padding: 10px;
    align-items: center;
}

h3{
    font-size: 15pt;
    font-style: italic;
    color: antiquewhite;
    padding-left: 3px;
    padding-right: 3px;
}

.gold{
    color: gold;
}
.silver{
    color: silver;
}

.atributes-area{
    margin-top: 30px;
    margin-left: 45px;
}

#dropdownMenuLink{
    background-color: rgb(117, 83, 37);
    width: 100%;
    font-size: 13pt;
}
.dropdown-menu{
    width: 700px;  
}
p{
    text-align: center;
}
.atributo-nome{
    background-color: rgb(117, 83, 37);
    width: 50%;
    margin: auto;
    color: white;
}
.atributo-valor{
    background-color: rgb(163, 119, 56);
    width: 50%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: white;
    font-size: 19pt;
}


.mochila-area{
    text-align: center;
    margin-top: 30px;
    margin-left: 45px;
    background-color: rgb(117, 83, 37);
    color: white;
    padding-bottom: 30px;
}

.list-group{
    color: black; 
}


/*--------------------MONSTER BOOK---------------------------*/

.container-monster{
    margin-top: 10px;
    background-color: rgb(170, 113, 39);
    display: flex;
    justify-content: space-between;
}

.monster-img{
    border-radius: 18px;
    flex:1;
    background-color: gray;
    width: 350px;
    height: 350px;
    cursor: pointer;
-moz-transition: all 0.3s;
-webkit-transition: all 0.3s;
transition: all 0.5s;
}

.monster-img:hover{

-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
transform: scale(1.1);
}

.monster-img img{
border-radius: 18px;
width: 100%;
height: 100%;
}

.title-monster{
    color: darkred;
    text-align: center;
    margin-bottom: 5px;
}

.monster-data{
    flex:2;
}
h5{
    margin-left: 45px;
    background-color: rgb(175, 121, 4);
    color: white;
}

/*-----------------------MAPAS---------------------*/


.container-mapa{
    margin-top: 30px;
    background-color: burlywood;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapa-img{
    border:8px solid rgba(117, 69, 5, 0.973);
    width: 550px;
    height: 70%;
    cursor: pointer;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.5s;
}

.mapa-img img{
    width: 100%;
    
}

.mapa-img:hover{
    border-radius: 8px;
    -moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
transform: scale(1.3);
}




/*-------------------------------MERCADO---------------------*/

.container-mercado{
    margin-top: 30px;
    background-color: rgb(133, 92, 39);
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    margin-top: 15px;
}
tr{
    background-color: burlywood;
}

td{
    border: 3px solid rgb(56, 37, 1);
    font-weight: normal;
    padding: 15px;
    color: rgb(49, 35, 17);
}

.cima-tabela{
    background-color: rgb(155, 117, 67);
    font-weight: bold;
}

.btn {
    text-align: center;
    color: black;

}
.btn:hover{
    color:rgb(49, 49, 49) ;
}


/*-----------------------------MISSOES---------*/


.container-missao{
    width: 900px;
    background-color: rgb(207, 143, 58);
    border: 4px solid rgb(73, 36, 2);
    margin-top: 30px;
}
.dados-missoes{
    font-size: 20pt;
}

.missao-name{
    margin-left: 3px;
    font-size: 29pt;
    color: white;
}

.missao-for{
    color:rgb(126, 77, 13);
    margin-left: 3px;
}

.missao-data{
    margin-left: 3px;
    color: rgb(41, 20, 1);
}

.missao-descrip{
    background-color: rgb(211, 165, 105);
    color: black;
    overflow: auto;
    height: 80px;
    width: 800px;
    margin-left: 3px;
}

/*----------------OUTROS PERSONAGENS-------------------*/

.sub-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.container-outros{
    border: 5px solid rgb(32, 26, 7);
    padding-top: 30px;
    display: flex;
    background-image: url(img/bg.jpg);
    width: 70%;
    height: 350px;
    margin-top: 20px;
    padding: 10px;
}

.img-outros{
    width: 265px;
    background-color: rgb(171, 192, 133);

}

.img-outros img{
    border:3px solid rgb(66, 44, 14);
    width: 100%;
    height: 100%;
    cursor: pointer;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.5s;
}

.img-outros img:hover{
    border-radius: 18px;
    -moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
transform: scale(1.2);
}

.npc-title{
    margin-top: 5px;
    color: rgb(46, 23, 3);
    background-color: burlywood;
}

.npc-name{
    color: black;
}
.npc-ocupation{
    color: rgb(177, 176, 176);
    margin-left: 45px;
}

.dados-outros{
    background-color: rgb(83, 56, 20);
    width: 75%;

}

.npc-data{
    background-color: rgb(36, 20, 0);
    margin-left: 45px;
    color: rgb(214, 165, 29);
}

.npc-descrip{
    margin-top: 0;
    background-color: transparent;
    font-size: 10pt;
    height: 98px;
    color: blanchedalmond;
    background-color: rgb(36, 20, 0);
    overflow: auto;

}



















/*-----------------RESPONSIVIDADE---------------------*/

@media (max-width:600px){
  
    .container{
        display:block;
    }
    .dados{
        padding-bottom: 300px;
    }
    .img-pp{
        width: 100%;
        border-radius: 6px;
        margin-bottom: 10px;
    }
    H1{
        font-size: 15pt;
        text-align: center;
        margin: 0;
    }
    H2{
        font-size: 12pt;
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
    }
    h3{
        font-size: 10pt;
    }
    h4{
        font-size: 14pt;
    }
    .nivel-exp{
        border-radius: 6px;

        margin:0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: auto;
    }
    .exp-bar{
       margin: 0;
       width: 100%;
    }
    .qtd-vida{
        border-radius: 6px;

        margin:0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: auto;
    }
    .vida-bar{
       margin: 0;
       width: 100%;
    }
    #vida-atual{
        width: 50%;
        text-align: center;
    }
    .atributes-area{
        border-radius: 6px;

        margin-top: 30px;
        margin-left: 0;
      
    }
    .dropdown-menu{
        width: 380px;
    }

    .atributo-nome{
      
        width: 80%;
        margin: auto;
        color: white;
    }
    .atributo-valor{
       
        width: 80%;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        color: white;
        font-size: 19pt;
    }
    .atributes-area{
        margin-bottom: 30px;
    }
    .mochila-area{
        border-radius: 6px;
        margin-left: 0;
        
       
    }

    .alinhamentos{
        border-radius: 6px;
        margin-left: 0;
        width: auto;
    }

    .mapa-banner{
        background-color: transparent;
        margin-top: 15px;
        width: 100%
  
    }
    
    .mapa-banner img{
        width: 100%;
    }

    .container-monster{
        margin-top: 10px;
        background-color: rgb(170, 113, 39);
        display: flex;
        flex-direction: column;
        justify-content:  center;
        align-items: center;
        width: 100%;
       height: auto;
    }
    
    .monster-img{
        background-color: gray;
        width: 300px;
        height: 400px;
    }

    
    
    .monster-img:hover{

        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.3);
        }


    .monster-data{
      margin: 0;
    }
    h5{
        margin: 0;
        background-color: rgb(175, 121, 4);
        color: white;
    }
    

   td{
    padding: 8px;
   }
    
   .mapa-img{
    width: 300px;
   }

   .mapa-img img{
    width: 100%;
   }


.sub-container{
    flex-direction: column;
    align-items: center;
}   
   .container-outros{
    border: 5px solid rgb(32, 26, 7);
    padding-top: 30px;
    display: flex;
    background-image: url(img/bg.jpg);
    width: 90%;
    height: 250px;
    margin-top: 20px;
}

.img-outros{
    width: 50%;
    height: 100%;
    background-color: aqua;
}

.img-outros img{
width: 100%;
-moz-transition: all 0.3s;
-webkit-transition: all 0.3s;
transition: all 0.5s;
}

.img-outros img:hover{
border-radius: 18px;
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
transform: scale(1.2);
}

.npc-name{
    text-align: right;
    margin:0;
    font-size: 13pt;
}

.npc-ocupation{
    color: rgb(177, 176, 176);
    margin-left: 0;
    text-align: right;
    margin-bottom: 0;
    font-size: 10pt;
}


.dados-outros{
    background-color: rgb(83, 56, 20);
    width: 60%;
    margin:0;

}
.npc-descrip{
    margin-top: 0;
    height: 45px;
    background-color: transparent;
    font-size: 8pt;
    color: blanchedalmond;
    overflow: auto;
}

.npc-data{
    background-color: rgb(36, 20, 0);
    margin-left:0px;
    margin-top: 0px;
    color: rgb(214, 165, 29);
    font-size: 09pt;
    font-weight: normal;
}



.container-missao{
    width: auto;
    background-color: rgb(207, 143, 58);
    border: 4px solid rgb(73, 36, 2);
    margin-top: 30px;
}
.dados-missoes{
    font-size: 20pt;
}

.missao-name{
    margin-left: 3px;
    font-size: 20pt;
    color: white;
}

.missao-for{
    color:rgb(126, 77, 13);
    margin-left: 3px;
}

.missao-data{
    margin-left: 3px;
    color: rgb(41, 20, 1);
}

.missao-descrip{
    background-color: burlywood;
    color: black;
    overflow: auto;
    height: 95px;
    width: 90%;
    margin-left: 3px;
}


}